.header {
    background-color: rgb(255, 51, 0);
    padding: 1rem;
}

.header__title {
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}

.header__nav {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    text-align: center;
    margin-left: 5em;
}

.header__link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}